body {
    background-color: lightgray;
}
.container {
    display: flex;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    min-width: 450px;
}
@media (max-width: 850px) {
    .container {
        flex-direction: column;
    }
    .rectangle1,
    .rectangle2 {
        flex-grow: 1;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .rectangle2{
        min-width: 450px;
    }
}

.rectangle1, .rectangle2{
    background-color: white;
    margin-right: 10px;
    height: 400px;

    overflow-y: scroll;
    border-radius: 10px;
}
.rectangle1 {
    flex-grow: 3;
    position: relative;
}
.rectangle1 .firstLine {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rectangle1 .secondLine,
.rectangle1 .thirdLine,
.rectangle1 .fourthLine {
    height: calc(70%/3);
}

.rectangle1 .firstLine input[type="text"],
.rectangle1 .firstLine button {
    display: inline-block;
    border: 1px solid lightgray;
}
.rectangle1 .firstLine input[type="text"]{
    height: 40%;
    width: 60%;
    flex: 1;
    margin-left: 20px;
    padding-left: 20px;
    border-right: none;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rectangle1 .firstLine input[type="text"]::placeholder {
    font-family: Arial, sans-serif;
    font-size: 150%;
    color: silver;
}
.rectangle1 .firstLine button {
    height: 45%;
    width: 20%;
    margin-right: 20px;
    background-color: #2B60DE;
    color: white;
    box-shadow: inset 0 -5px 0 0 #0041C2;
    border-left: none;
    border-radius: 0 5px 5px 0;
    font-family: Lucida Grande, sans-serif;
    font-weight: bold;
    font-size: 100%;
}
@media (max-width: 670px) {
    .rectangle1 .firstLine button{
        font-size: 70% ;
    }
}
@media (max-width: 600px) {
    .rectangle1 .firstLine button{
        font-size: 100% ;
    }
}
.rectangle1 .secondLine,
.rectangle1 .thirdLine,
.rectangle1 .fourthLine,
.line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rectangle1 .secondLine div,
.rectangle1 .thirdLine div,
.rectangle1 .fourthLine div,
.line div {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle1 .secondLine input[type="text"],
.rectangle1 .thirdLine input[type="text"],
.rectangle1 .fourthLine input[type="text"],
.line input[type="text"] {
    width: 60%;
    max-width: 100%;
    margin-right: 80px;
    margin-left: 20px;
    font-family: "Gill Sans", sans-serif;
    font-size: 110%;
    border: none;
    background: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rectangle1 .secondLine input[type="text"]:focus,
.rectangle1 .thirdLine input[type="text"]:focus,
.rectangle1 .fourthLine input[type="text"]:focus,
.line input[type="text"]:focus{
    border: 2px solid skyblue;
    outline: none;
}
.amount{
    width: 10%;
    padding: 15px;
    font-family: "Gill Sans", sans-serif;
    font-size: 110%;
    background-color: #F0F0F0 ;
    border-radius: 5px;
}

.buttonBought{
    width: 60%;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    color: grey;
    background-color: #F0F0F0;
    border-color: #F0F0F0;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: inset 0 -5px 0 0 lightgray;
    font-family: Lucida Grande, sans-serif;
    font-size: 90%;
    font-weight: bold;
}
.buttonNotBought {
    width: 60%;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    color: grey;
    background-color: #F0F0F0;
    border-color: #F0F0F0;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: inset 0 -5px 0 0 lightgray;
    font-family: "Lucida Grande", sans-serif;
    font-size: 90%;
    font-weight: bold;
}


.buttonCancel{
    width: 20%;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5px;
    font-family: Lucida Grande, sans-serif;
    font-size: 90%;
    font-weight: bold;
    color: white;
    background-color: red;
    border-color: #F0F0F0;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: inset 0 -5px 0 0 darkred;
}
.buttonM,
.buttonP{
    width: 17%;
    max-width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: Lucida Grande, sans-serif;
    font-size: 90%;
    font-weight: bold;
}
.buttonM{
    color: white;
    background-color: red;
    border-color: #F0F0F0;
    border-width: 1px;
    border-radius: 50px;
    box-shadow: inset 0 -5px 0 0 darkred;
}
.buttonP{
    color: white;
    background-color: green;
    border-color: #F0F0F0;
    border-width: 1px;
    border-radius: 50px;
    box-shadow: inset 0 -5px 0 0 darkgreen;
}

.rectangle1 hr,
.rectangle2 hr{
    margin: 0;
    border: none;
    border-top: 1px solid lightgray;
}

.rectangle2 {
    width: 40%;
    height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.rectangle2  .secondLine,
.rectangle2  .fourthLine{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.rectangle2 .firstLine,
.rectangle2 .secondLine,
.rectangle2 .thirdLine,
.rectangle2 .fourthLine {
    flex-basis: 25%;
    display: flex;
    box-sizing: border-box; /* Include padding and border in the flex-basis calculation */
    padding: 10px; /* Adjust the padding as desired */

}
.phrases {
    flex-grow: 1;
    flex-basis: 0;
    font-size: 2em;
    max-width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product{
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 5px 15px;
    margin-left: 10px;
    margin-right: 2px;
    margin-bottom: 10px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    font-size: 1.5em;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rectangle2 .fourthLine .product{
    text-decoration: line-through;
}

.product .amount{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 10px;
    padding: 8px 15px;
    background-color: orange;
    color: #F0F0F0;
    border-radius: 50%;
    font-size: 1em;
}
@media (max-width: 890px) {
 .product{
        font-size: 1.2em;
    }
 .product .amount{
        font-size: 1em;
    }
}

@media (max-width: 810px) {
 .product{
        font-size: 1em;
        width: 35%;
    }
.product .amount{
        font-size: 0.9em;
    }
}

@media (max-width: 770px) {
 .product{
        font-size: 1.2em;
    }
 .product .amount{
        font-size: 1em;
    }
}

button {
    position: relative;
    transform-style: preserve-3d;
}
button:after{
    content: attr(data-tooltip) ;
    padding: 5px;
    bottom: 100%;
    min-width:50px;
    position: absolute;
    white-space: nowrap;
    transform: translate(-50%, 5px) translateZ(-1px);
    border-radius: 5px;
    left: 50%;
    background: #AF01DA;
    color: white;
    transition: 0.5s;
    visibility: hidden;

}
button:hover::after {
    transform: translate(-50%, -5px) translateZ(0);
    visibility: visible;
    display: block;
}
.badge {
    position: fixed;
    bottom: -75px;
    left: 10px;
    width: 120px;
    height: 100px;
    border: 2px solid aquamarine;
;
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}

.badge:hover {
    transform: translateY(-120px);
    background-color: orange;
    color: #34282C;
}

.badge-content {
    padding: 5px;
    transition: opacity 0.3s;
}

.badge:hover .badge-content {
    opacity: 1;
}

@media print {
    .badge {
        height: 70px;
        padding-top: 20px;
        border-radius: 20px 20px 0 0;
        border-color: black;
        background-color: #FFFFFF;
        color: #6C63FF;
        bottom: 0;
    }
    .badge-content{
        display: none;
    }
    .badge-content-print{
        transform: translateY(-20px);
    }
}

@media (max-width: 650px) {
 .buttonBought,
 .buttonCancel,
 .buttonM,
 .buttonP{
        font-size: 70% ;
    }
}
@media (max-width: 610px) {
    .buttonBought,
    .buttonCancel,
    .buttonM,
    .buttonP{
        font-size: 50% ;
    }
}

@media (max-width: 600px) {
    .buttonM,
    .buttonP{
        width: 20%;
        padding: 5%;
        font-size: 90%;

    }
}
@media (max-width: 600px) {
     .buttonBought,
     .buttonCancel{
        font-size: 90% ;
    }
}
.line {
    height: calc(280px / 3);
}

.line-hr {
    border: none;
    border-top: 1px solid lightgray;
    margin: 10px 0;
}




